$def with(height, weight, calories)
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Confirm</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/reply.css" rel="stylesheet">
    <style>
        body {
            background: #F9CDAD;
        }
    </style>
</head>
<body>
    <div class="headerTitle">
        <p>您已设定的信息</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="headText largeHeight">
                <div class="box" style="background-color:#83AF9B">
                    <p>$height厘米</p>
                    <p>$weight千克</P>
                    <p>$calories大卡</p>
                </div>
            </div>
        </div>
    </div>
</body>
