$def with (follower, followee, result, SITE_DOMAIN)
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Confirm</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/reply.css" rel="stylesheet">
    <style>
        body {
            background: #F9CDAD;
        }
    </style>
</head>
<body>
    <div class="headerTitle">
        <p>$result</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="headText regularHeight">
                <div class="box" style="background-color:#83AF9B">
                    <p onclick="javascript:location.href='http://$SITE_DOMAIN/follower?openid=$followee'">返回好友列表</P>
                </div>
            </div>
        </div>
    </div>
</body>
