$def with (uid, fid, data, uHY, fHY, result, length)
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Fight</title>
    <link href="/static/reply.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: #F9CDAD;
        }
    </style>
</head>
<body>
    <div class="headerTitle">
        <p>PK!</p>
    </div>
    <div id="ct" class="container">
    	<div class="row">
    		<div class="col-xs-5">
    			<div class="psContent">
    				<div id="uh" class="psValue" style="width:100%"></div>
    			</div>
    		</div>
    		<div class="col-xs-1">
    			<div style="text-align:left; font-size:2em">
    				<strong id="uhpnum">100</strong>
    			</div>
    		</div>
    		<div class="col-xs-1">
    			<div style="text-align:right; font-size:2em">
    				<strong id="fhpnum">100</strong>
    			</div>
    		</div>
    		<div class="col-xs-5">
    			<div class="psContent">
    				<div id="fh" class="psValue" style="width:100%"></div>
    			</div>
    		</div>
    	</div>
        <div class="row">
            <div class="headText">
            <p id="res">战斗开始!</p>
            </div>
        </div>
        <div class="row">
            <div class="headText">
            <p>战斗记录</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var counter = 0
        var maxtime = $length
        var uH = new Array()
        var fH = new Array()
        var detail = new Array()
        $for i in range(0, length)
            uH[$i] = $uHY[i]
            fH[$i] = $fHY[i]
            detail[$i] = "$data[i]"
        var rootDom = document.getElementById('ct')
        var uhDom = document.getElementById('uh')
        var uhNum = document.getElementById('uhpnum')
        var fhDom = document.getElementById('fh')
        var fhNum = document.getElementById('fhpnum')
        var rest = document.getElementById('res')
        var circle = setInterval("update()",1000);
        function update() {
            var newDiv = document.createElement('div')
            newDiv.className = "headText"
            newDiv.innerHTML = "<p>" + detail[counter] + "</p>"
            rootDom.appendChild(newDiv)
            uhDom.style.width='' + uH[counter] + '%'
            uhNum.innerHTML = '' + uH[counter]
            fhDom.style.width='' + fH[counter] + '%'
            fhNum.innerHTML = '' + fH[counter]
            counter += 1
            if (counter >= maxtime) {
                rest.innerHTML = "$result"
                clearInterval(circle)
            }
        }
    </script>
</body>
