$def with (data, openid, goal_calo)
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Sport</title>
    <link href="/static/reply.css" rel="stylesheet">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: #F9CDAD;
        }
    </style>
</head>
<body>
    <div class="headerTitle">
        <p>运动数据</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="headText" style="line-height: 11em">
                    <div class="box" style="background-color:#FE4365">
                        <p>运动步数</p>
                        <p>$data[0]</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="headText" style="line-height: 21em">
                    <div class="box" style="background-color:#83AF9B">
                        <p onclick="javascript:location.href='http://f4ss.sinaapp.com/plan?openid=$openid'">制定计划</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="headText" style="line-height: 11em">
                <div class="box" style="background-color:#1DBF97">
                    <p>目标卡路里</p>
                    <p>$goal_calo</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bgDiv">            
                <div id="main" class = "chartH"></div>
            </div>
        </div>
    </div>


    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/bar'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
                    title : {
                        text: '上周运动数据',
                        textStyle: {
                            fontSize: 35,
                            color: '#FFFFFF',
                        }
                    },
                    
                    tooltip : {
                        trigger: 'axis',
                        textStyle: {
                            fontSize: 30,
                        }
                    },
                    
                    legend: {
                        data:['行走步数','奔跑步数'],
                        x: 'right',
                        textStyle: {
                            fontSize: 27,
                            color: '#FFFFFF',
                        }
                    },
                    
                    toolbox: {
                        show : false
                    },
                    
                    calculable : true,
                    
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['周一','周二','周三','周四','周五','周六','周日'],
                            axisLabel : {
                                textStyle: {
                                    fontSize: 30,
                                    color: '#FFFFFF',
                                }
                            }
                        }
                    ],
                    
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                textStyle: {
                                    fontSize: 27,
                                    color: '#FFFFFF',
                                }
                            }                           
                        }
                    ],
                    
                    series : [
                        {
                            name:'行走步数',
                            type:'line',
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:[$data[6], $data[5], $data[4], $data[3], $data[2], $data[1], $data[0]],
                            
                        }
                    ]
                };
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
    </script>
</body>