$def with (openid, SITE_DOMAIN)
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Sport</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/reply.css" rel="stylesheet">
    <style>
        body {
            background: #F9CDAD;
        }
    </style>
</head>
<body>
    <div class="container">
        <form name="input" action="http://$SITE_DOMAIN/plan?openid=$openid" method="post">
            <div class="row">
                <div class="col-xs-6">
                    <div class="formFontL" style="line-height: 6em">
                        <p>您的身高：</p>
                        <p>您的体重：</p>
                        <p>每日计划：</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="formFontR">
                        <p><input type="text" name="height" style="width:4em">厘米</p>
                        <p><input type="text" name="weight" style="width:4em">千克</p>
                        <p><input type="text" name="calories" style="width:4em">卡路里</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                        <button type="submit" class="formFontB" style="background-color:#83AF9B">
                            <p>确认</p>
                        </button>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </form>
    </div>
</body>