$def with (data,myid)
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Follower</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/reply.css" rel="stylesheet">
    <style>
        body {
            background: #F9CDAD;
        }
    </style>
</head>
<body>
    <div class="headerTitle">
        <p>好友排行</p>
    </div>
	<div class="container">
		$if data:
			$for follower in data:
        		<div class="row">
            		<div class="followerlist">
                        <div class="headText smallHeight">
                            <div class="box" style="background-color:#D97450">
                                <p onclick="javascript:location.href='http://f4ss.sinaapp.com/info?openid=$follower["id"]'">
                                    $follower["name"]
                                </p>
                                <p>步数：$follower["steps"]</p>
                            </div>
                        </div>
            		</div>
        		</div>
    </div>
</body>
