<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Sleep</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/reply.css" rel="stylesheet">
    <style>
        body {
            background-image: url(/static/sleep.jpg);
            background-repeat: no-repeat;
            filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
			-moz-background-size:100%;  
    		background-size:100%; 
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="headText">
                <div class="box">
                    <p>今日睡眠时间</p>
                    <p>2333333</p>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="bgDiv">            
            	<div id="main"></div>
            </div>
        </div>
    </div>



    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/bar'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
                    title : {
    				    text: '上周睡眠数据',
                        textStyle: {
                            fontSize: 35,
                            color: '#8A2BE2',
                        },
    				    subtext: '测试数据'
    				},
                    
    				tooltip : {
    				    trigger: 'axis',
                        textStyle: {
                        	fontSize: 30,
                        }
    				},
                    
    				legend: {
    				    data:['深睡眠','浅睡眠'],
                        x: 'right',
                        textStyle: {
                        	fontSize: 27,
                            color: '#8A2BE2',
                        }
    				},
                    
    				toolbox: {
    				    show : false
    				},
                    
    				calculable : true,
                    
    				xAxis : [
    				    {
    				        type : 'category',
    				        boundaryGap : false,
    				        data : ['周一','周二','周三','周四','周五','周六','周日'],
                            axisLabel : {
                                textStyle: {
                                    fontSize: 30,
                                    color: '#8A2BE2',
                                }
                        	}
    				    }
    				],
                    
    				yAxis : [
    				    {
    				        type : 'value',
                            axisLabel : {
                                textStyle: {
                                    fontSize: 27,
                                    color: '#8A2BE2',
                                }
                        	}    				        
    				    }
    				],
                    
    				series : [
    				    {
    				        name:'行走步数',
    				        type:'line',
    				        itemStyle: {normal: {areaStyle: {type: 'default'}}},
    				        data:[1100, 1100, 1500, 1300, 1200, 1300, 1000],
    				        
    				    },
    				    {
    				        name:'奔跑步数',
    				        type:'line',
    				        itemStyle: {normal: {areaStyle: {type: 'default'}}},
    				        data:[5000, 6000, 4000, 5000, 3000, 2900, 3000],
    				        
    				    }
    				]
                };
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
    </script>
</body>